.new-tweet {
  padding: auto;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet label {
  display: block;
}

#tweet-text {
  border-width: 0 0 4px 0;
  width: 100%;
}

.new-tweet button {
  background-color: #4056A1;
  padding: .5rem;
  font-family: 'Bungee';
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFF;
  border: none;
}

.counter {
  font-family: 'Bungee';
  display: flex;
  align-self: flex-endx;
}

.counter-red {
  color: #ff2e2e;
}